.icongroup {
	margin: 0 auto;
	width: 500px;
}

.my-icomoon {
	background: #ccc;
	height: 100px;
	width: 100px;
	display: block;
	float: left;
	margin: 10px;
	font-family: "icomoon";
	font-weight: normal;s
	font-style: normal;
	font-size: 72px;
	color: #555;
	text-align: center;
	line-height: 100px;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;	/*字体抗锯齿*/
	-moz-osx-font-smoothing: grayscale;		/*字体抗锯齿*/

}

.my-icomoon:hover {
	background: #fff;
}

@font-face {
	font-family: "icomoon";
	src: url("fonts/icomoon.eot?");		/*IE9j兼容模式*/
	src: url("fonts/icomoon.eot?") format("embedded-opentype")
		,url("fonts/icomoon.woff") format("woff")
		,url("fonts/icomoon.ttf") format("truetype")
		,url("fonts/icomoon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

.my-icomoon:hover .rotateZ {
	-webkit-animation: rotateZ 2s infinite linear;
	animation: rotateZ 2s infinite linear;
}

@-webkit-keyframes rotateZ {
	0% {
		-webkit-transform；rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform；rotate(360deg);
		transform: rotate(360deg);
	}
}

.my-icomoon:hover .rotateX {
	-webkit-animation: rotateX 2s infinite linear;
	animation: rotateX 2s infinite linear;
}

@-webkit-keyframes rotateX {
	0% {
		-webkit-transform；rotateX(0);
		transform: rotateX(0);
	}
	100% {
		-webkit-transform；rotateX(360deg);
		transform: rotateX(360deg);
	}
}

.my-icomoon:hover .rotateY {
	-webkit-animation: rotateY 2s infinite linear;
	animation: rotateY 2s infinite linear;
}

@-webkit-keyframes rotateY {
	0% {
		-webkit-transform；rotateY(0);
		transform: rotateY(0);
	}
	100% {
		-webkit-transform；rotateY(360deg);
		transform: rotateY(360deg);
	}
}

/*.scale初始反应很慢*/
.my-icomoon:hover .scale {
	-webkit-animation: scale 2s infinite linear;
	animation: scale 2s infinite linear;
}

@-webkit-keyframes scale {
	0% {
		-webkit-transform；none;
		transform: none;
	}
	50% {
		-webkit-transform；scale(1.5,1.5);
		transform: scale(1.5,1.5);
	}
	100% {
		-webkit-transform；none;
		transform: none;
	}
}

/*从icomoon下载的style.css引入*/

.icon-camera:before {
    content: "\e90f";
}
.icon-pacman:before {
    content: "\e916";
}
.icon-book:before {
    content: "\e91f";
}
.icon-profile:before {
    content: "\e923";
}
.icon-phone:before {
    content: "\e942";
}
.icon-envelop:before {
    content: "\e945";
}
.icon-mobile:before {
    content: "\e958";
}
.icon-bubbles:before {
    content: "\e96c";
}
.icon-user:before {
    content: "\e971";
}
.icon-spinner:before {
    content: "\e97a";
}
.icon-spinner3:before {
    content: "\e97c";
}
.icon-spinner9:before {
    content: "\e982";
}
.icon-cog:before {
    content: "\e994";
}
.icon-cross:before {
    content: "\ea0f";
}
.icon-github:before {
    content: "\eab0";
}
.icon-android:before {
    content: "\eac0";
}